@import "foundation/common/ratios";

// Import a bunch of fonts
@import url(http://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:300);

// Settings file containing Foundation defaults

// Grid Settings

// $rowWidth: 1000px;
// $columnGutter: 30px;
// $totalColumns: 12;
// $mobileTotalColumns: 4;

// Colors Settings

$backgroundColor: #1c1c1c;
$mainColor: #2ba6cb;
// $secondaryColor: #e9e9e9;
// $alertColor: #c60f13;
// $successColor: #5da423;
$bodyFontColor: #d0d0d0;
$txtColor: $bodyFontColor;
$highlightColor: transparent;
// $black: #000;
// $white: #fff;
// $shinyEdge: rgba(#fff, .5);
// $darkEdge: rgba(#000, .2);
$panelBackgroundColor: lighten($backgroundColor, 10%);
$borderColor: lighten($backgroundColor, 20%);

// Typography Settings

// $headerFontFamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$headerFontFamily: "Fredoka One", Helvetica, "Arial Black", sans-serif;
$headerFontWeight: normal;
//$headerFontColor: lighten($txtColor, 10%);
$headerFontColor: $mainColor;
$bodyFontFamily: "Open Sans", Tahoma, Geneva, sans-serif;
$codeFontFamily: "Courier New", monospace;
// $bodyFontWeight: normal;
// $bodyFontColor: #222;

// Button Settings

// $buttonRadius: 3px;
// $btnBase: 10px;

// $tinyBtnBase: $btnBase - 5;
// $smallBtnBase: $btnBase - 3;
// $largeBtnBase: $btnBase + 5;

// Form Settings

// $formSpacing: 12px;

// Tab Settings

// $tabHeight: 40px;

// Nav Bar Settings

// $navBarHeight: 40px;
// $navFlyoutBaseWidth: 250px;

// Modular Scale
// $ratio: $golden;
$baseFontSize: 15px;
// $importantModNum: 44px;

// Tooltip Settings
// $hasTipBorderBottom: dotted 1px #ccc;
// $hasTipFontWeight: bold;
// $hasTipFontColor: #333;
// $hasTipBorderBottomHover: dotted 1px darken($mainColor, 20%);
// $hasTipFontColorHover: $mainColor;
// $tooltipBackgroundColor: #000;
// $tooltipBackgroundOpacity: 0.85;
// $tooltipFontSize: 12;
// $tooltipFontWeight: bold;
// $tooltipFontColor: #fff;
// $tapToCloseFontSize: 10;
// $tapToCloseFontWeight: normal;
// $tapToCloseFontColor: #888;
// $tooltipFontSizeScreenSmall: 14;
// $tooltipBackgroundOpacityScreenSmall: 0.85;
