// ===================================
//{{{    Imports
// =================================== 

// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
// @import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "compass/css3";
@import "foundation/settings";
@import "foundation/functions/all";
@import "foundation/common/globals";
@import "foundation/mixins/clearfix";
@import "modular-scale";

// Control which mixins you have access too

@import "foundation/mixins/css-triangle";
@import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

@import "foundation/mixins/respond-to";
@import "foundation/mixins/semantic-grid";

// Must include the grid for any responsiveness

@import "foundation/components/grid";

// Control which common styles get compiled

@import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

//@import "foundation/components/modules/buttons";
//@import "foundation/components/modules/tabs";
@import "foundation/components/modules/ui";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

//}}}

// ===================================
//{{{    Mixins
// =================================== 

@mixin pixel-text-shadow {
    @include text-shadow( darken($backgroundColor, 10%) 0px 1px 0px );
}

@mixin small-border-radius {
    @include border-radius(4px, 4px);
}

//}}}
    
// ===================================
//{{{    Customizations
// =================================== 

// put anything strictly for the screen reader off the screen
.screen-reader-text {
    position: absolute;
    left: -9999px;
}

// Changing body background color
body {
  background: $backgroundColor;
}

// Lift the headings
h1, h2, h3, h4, h5, h6 {
    color: $secondaryColor;
    @include pixel-text-shadow;
}

h1 {
    color: $secondaryColor;
}

// Horizontal rule color
hr {
    border: solid 1px $borderColor;
    @include single-box-shadow($backgroundColor, 0px, -1px, 0px, 0px);
}

li hr {
    margin: 0.5em;
}

// Tab colors TODO: do I need tabs?
//dl.tabs {
    //border-bottom: solid 1px $panelBackgroundColor;

    //dt { color: lighten($backgroundColor, 30%); }

    //dd { a { color: darken($txtColor, 30%); }
        //&.active {
            //a { color: darken($txtColor, 10%);
                //background: $panelBackgroundColor;
                //border-left: 0px;
                //border-right: 0px;
            //}
        //}
    //}
//}

article.panel {
    margin-bottom: 3em;
}

//}}}

// ===================================
//{{{    Panels and holes
// =================================== 

// Changing Panel colors
.panel {
    color: lighten($txtColor, 15%);
    background: $panelBackgroundColor;
    border: solid 1px $borderColor;
    @include small-border-radius;
    @include single-box-shadow(rgba(0, 0, 0, 0.8), 0px, 1px, 4px, 0px);
    //overflow: hidden;
}

// Adding a style for "holes" in panels
// Dark background, rounded corners, and inside shadow
.hole {
    @include single-box-shadow(rgba(0, 0, 0, 0.8), 0px, 1px, 4px, 0px, inset);
    border: solid 1px $borderColor;
    @include small-border-radius;
    background: $backgroundColor;
    color: $txtColor;
}

// Style for blockquotes
.panel blockquote {
    @extend .hole;
    
    margin: 1.5em;
    font-style: italic;
    padding: 1em;
}

//}}}

// ===================================
//{{{    Post Layout
// =================================== 

// make some room below the main post
.main-post {
    margin-bottom: 3em;
}

// format list of tags
.tags {
    &:before {
        content: "Tags: ";
    }

    text-align: right;
    @include pixel-text-shadow;
    font-style: italic;
    font-size: 1em;
    color: lighten($panelBackgroundColor, 40%);

    li {
        display: inline;
        list-style-type: none;

        // add a comma between each list entry
        &:not(:last-child):after {
            content: ",";
        }
    }
}

//}}}

// ===================================
//{{{    Post headers and date
// =================================== 

// Date split into 3 lines, and day, month and year
// take up same horizontal space
.date {
    
    // make box tight around text
    padding: 0 $mobilePadding 0 $mobilePadding;

    // float it
    float: left;

    // position the date box slightly to the left
    margin-right: 2em;
    margin-bottom: 0;
    position: relative;
    left: 1em;

    // style the text
    @include pixel-text-shadow;
    font-size: 1.3em;
    color: lighten($panelBackgroundColor, 30%);

    // center text
    span {
        display: block;
        text-align: center;
    }

    // Make the day text larger
    .day {
        font-size: 1.9em;
        font-weight: bold;
        line-height: 0.9em;
        position: relative;
        top: 0.1em;
    }

    // Month text is small-caps
    .month {
        font-size: 1.2em;
        line-height: 0.9em;
        font-variant: small-caps;
        position: relative;
        top: 0.2em;
    }
}

//}}}

// ===================================
//{{{    Nav bar
// =================================== 

// Header panel
header.panel {
    h1 {
        float: left;
        margin-right: 0.5em;
    }

    padding: 0px;
    @include border-radius(0px, 0px);
    border: 0px;
    border-bottom: solid 1px $borderColor;
}

// Navigation bar
nav ul {
    background: $panelBackgroundColor;
    display: block;
    list-style-type: none;
    list-style-position: inside;

    li {
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        padding: 0.5em 0.5em;
        float: left;
        display: block;
        position: relative;

        a {
            color: lighten($txtColor, 15%);
        }
        &.active {
            @extend .hole;
        }
    }
}

//}}}

// ===================================
//{{{    Code Style
// =================================== 
code {
    font-weight: normal;
    font-family: $codeFontFamily;
    font-size: 0.9em;
    letter-spacing: 0.03em;
}


.highlight  {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 1em;
    line-height: 1.25em;

    // Automatically create scrollbar, if code overflows
    overflow: auto;

    // styling the border
    @extend .hole;
}

// Based on Vim wombat theme in pygments. Modified from:
// https://github.com/uraimo/pygments-vimstyles/
.highlight  {
    color: $txtColor;

    .hll { background-color: #ffffcc }
    .k, .nt { color: $mainColor } /* Keyword, Name.Tag */
    .c, .cm, .c1, .cs { color: #99968b; font-style: italic} /* Comment */
    .cp { color: #e5786d} /* Comment.Preproc */
    .m { color: #e5786d} /* Literal.Number */
    .no { color: #e5786d} /* Name.Constant */
    //.mf, .mh, .mi, .mo { color: #e5786d} [> Literal.Number <]
    .il { color: #e5786d} /* Literal.Number.Integer.Long */
    .na { color: #cae682} /* Name.Attribute */
    .kt { color: $secondaryColor } /* Keyword.Type */
    .nf { color: #cae682} /* Name.Function */
    .nv { color: #cae682} /* Name.Variable */
    .vc { color: #cae682} /* Name.Variable.Class */
    .vg { color: #cae682} /* Name.Variable.Global */
    .vi { color: #cae682} /* Name.Variable.Instance */

    .gh, .gu { font-weight: bold} /* Generic.Heading, Generic.Subheading */
    .go { color: #808080; background-color: #303030 } /* Generic.Output */
    .s { color: $tertiaryColor; font-style: italic} /* Literal.String */
    .ni { color: #e7f6da} /* Name.Entity */
}

//}}}

// ===================================
//{{{    Icon Fonts
// =================================== 
@font-face {
	font-family: 'icomoon';
	src: url('/fonts/icomoon.eot?#') format('eot'),
		url('/fonts/icomoon.svg#icomoon') format('svg'),
		url('/fonts/icomoon.woff') format('woff'),
		url('/fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    position: relative;
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
}
.icon-quote:before {
	content: "\71";
}
.icon-feed:before {
	content: "\72";
}
.icon-creative-commons:before {
	content: "\63";
}
.icon-vimeo:before {
	content: "\76";
}
.icon-github:before {
	content: "\67";
}
.icon-google-plus:before {
	content: "\70";
}
.icon-flickr:before {
	content: "\66";
}

//}}}

// ===================================
//{{{    Sidebar Stuff
// =================================== 

.unstyled li {
    list-style: none;
}

.social {
    overflow: hidden;

    a {
        @include pixel-text-shadow;
        font-size: ms(4);
    }

    ul {
        padding: 0;
    }

    li {
        width: 25%;
        text-align: center;
        display: block;
        float:left;
    }
}

//}}}

// ===================================
//{{{    Mobile @media
// =================================== 

// Reduce padding for mobile devices
// Also put navbar below title
@media (max-width:27em) {
    .columns {
        padding-left: $mobilePadding;
        padding-right: $mobilePadding;
    }

    .panel {
        padding-left: $mobilePadding;
        padding-right: $mobilePadding;
    }

    .highlight {
        padding-left: $mobilePadding;
        padding-right: $mobilePadding;
    }

    // Make title clear its row
    header.panel {
        h1 {
            float: none;
        }
    }

    // Smaller post-title
    h2.post-title {
        font-size: ms(3);
    }

    // squash the date panel
    .date {
        left: $mobilePadding;
        margin-right: 2*$mobilePadding;
    }
}

//}}}

// vim60:fdm=marker:
