---
layout: default
title: "KholdCode"
---

{% assign first_post = site.posts.first %}

<article class="main-post">
<header>
{% assign date = first_post.date %}
{% include date.html %}
<h2 class="post-title">
    <a href="{{first_post.url}}">{{first_post.title}}</a>
</h2>
</header>

<div class="panel">
    <section class="entry">
    {{ first_post.description | markdownify }}
    {{ first_post.content }}
    </section>
(<a href="{{first_post.url}}#disqus_thread" data-disqus-identifier="{{ first_post.id }}"></a>)
    {% assign tags = first_post.tags %}
    {% include tag_footer.html %}
</div>
</article>

{% for post in site.posts offset:1 %}
<article>
<header>
{% assign date = post.date %}
{% include date.html %}
<h4 class="post-title"><a href="{{post.url}}">{{post.title}}</a></h4>
</header>
<div class="panel">
    <section class="entry">
        {{ post.description | markdownify }}
    </section>
<a href="{{post.url}}" >Read More...</a>
(<a href="{{post.url}}#disqus_thread" data-disqus-identifier="{{ post.id }}"></a>)
    {% assign tags = post.tags %}
    {% include tag_footer.html %}
</div>
</article>
{% endfor %}

<script type="text/javascript">
    var disqus_shortname = 'kholdcode';

    (function () {
     var s = document.createElement('script'); s.async = true;
     s.type = 'text/javascript';
     s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
     (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
     }());
</script>
