---
layout: default
title: "KholdCode"
---

{% assign first_post = site.posts.first %}

<article class="main-post">
<header>
{% assign date = first_post.date %}
{% include date.html %}
<h2 class="post-title">
    <a href="{{first_post.url}}">{{first_post.title}}</a>
</h2>
</header>

<div class="panel">
    <section class="entry">
    {{ first_post.description | markdownify }}

    {{ first_post.content }}
    </section>
    {% assign tags = first_post.tags %}
    {% include tag_footer.html %}
</div>
</article>

{% for post in site.posts offset:1 %}
<article>
<header>
{% assign date = post.date %}
{% include date.html %}
<h4 class="post-title"><a href="{{post.url}}">{{post.title}}</a></h4>
</header>
<div class="panel">
    <section class="entry">
        {{ post.description | markdownify }}
        <a href="{{post.url}}">Read More...</a>
    </section>
    {% assign tags = post.tags %}
    {% include tag_footer.html %}
</div>
</article>
{% endfor %}

