<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
    <link href="http://feeds.feedburner.com/Kholdcode" rel="alternate" title="KholdCode" type="application/atom+xml" />

    <title>{{ page.title }}</title>

	<!-- Included CSS Files -->
	<link rel="stylesheet" href="/stylesheets/app.css">

	<script src="/javascripts/foundation/modernizr.foundation.js"></script>

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

    <header class="panel">
    <div class="row">
        <div class="twelve columns">
        <h1>KholdCode</h1>
        <nav>
        <ul>
            {% comment %} loop through locations defined in config.yml {% endcomment %}
            {% for nav_loc in site.nav_locations %}
                {% include nav_list_item.html %}
            {% endfor %}
        </ul>
        </nav>
        </div>
    </div>
    </header>

    <div class="row">
		<div class="nine columns">
            {{ content }}
        </div>

		<aside class="three columns unstyled">
			<h4>Recent Posts</h4>

            <ul class="panel">
                {% for post in site.posts limit:5 %}
                <li><a href="{{post.url}}">{{post.title}}</a>
                {% unless forloop.last %}
                <hr/>
                {% endunless %}
                </li>
                {% endfor %}
            </ul>

			<h4>Social</h4>
            <ul class="social panel">
                {% comment %}
                <li><a href="http://plus.google.com/115499051033408963660/posts">
                    <span aria-hidden="true" class="icon-google-plus"></span>
                    <span class="screen-reader-text" >Google+</span></a>
                </li>
                {% endcomment %}
                <li><a href="http://github.com/{{site.author.github}}">
                    <span aria-hidden="true" class="icon-github"></span>
                    <span class="screen-reader-text" >Github</span></a>
                </li>
                <li><a href="http://vimeo.com/user2600050">
                    <span aria-hidden="true" class="icon-vimeo"></span>
                    <span class="screen-reader-text" >Vimeo</span></a>
                </li>
                <li><a href="http://www.flickr.com/photos/51745571@N06/">
                    <span aria-hidden="true" class="icon-flickr"></span>
                    <span class="screen-reader-text" >Flickr</span></a>
                </li>
            </ul>
		</aside>
	</div>

	<!-- Included JS Files (Uncompressed) -->
    <!--TODO: minify?-->
	<script src="/javascripts/foundation/jquery.joined.js"></script>

    <!--Load additional scripts if requested-->
    {% for script in page.scripts %}
    <script src="{{script}}"></script>
    {% endfor %}
	
  <!-- Application Javascript, safe to override -->
  <script src="/javascripts/foundation/app.js"></script>
</body>
</html>
